.bold {
    font-weight: bold;
}

.color-img {
    width: 60px;
    height: 60px;
}

.text-detail , .text{
    

    font-family: 'Syne Mono', monospace;

    line-height: 1.6;
    color: #111111;
}
.br{
    border-radius: 0px !important;
}
.detail {
    font-size: 18px;
}
.span{
    font-size: 14px;
    text-decoration: underline;
}
.old-price{
    text-decoration: line-through;
    margin-bottom:3px !important;
}
.text{

}