<!-- <app-navbar></app-navbar> -->
<div class="container d-flex align-items-center mb-2 justify-content-between pt-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
        fill="currentColor" class="bi border rounded p-2 bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
    </svg>
    <h6 class="mb-0">{{title| uppercase}} </h6>
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
        fill="currentColor" class="bi text-white p-2 bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
    </svg>


</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="bg-s rounded">
                <img src="https://image.hm.com/assets/hm/2b/2e/2b2e6614657957bfab045b7e011528bc8717d9f9.jpg" alt="" class="w-100">

            </div>
        </div>
        <div class="col">
            <p class="text-black">Sport Suit Daily</p>
        </div>
    </div>
</div>