.logo {
    width: 55px;
}

.img-container {
    height: 45px;
    
    overflow: hidden;
}
.icon{
    width: 45px;
    height:45px
    

}
.bg-menu{
background-color: rgb(0, 0, 0 ,0.4);
backdrop-filter: blur(40px);
}
.bg{
    background:rgb(0, 0, 0 ,0.6);
    backdrop-filter: blur(50px); 
}