<div class="d-flex justify-content-between container py-3 bg  text-white fixed-top"
    [class.bg-white.text-black]="isScrolled">

    <div class="img-container d-flex justify-content-center align-items-center ">
        <img src="https://i.postimg.cc/ZR2RR84L/1000085015-removebg-preview.png" alt="" class="logo">
    </div>
    <div class="d-flex">
        <div class="icon d-flex justify-content-center align-items-center" role="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 15h18M3 9h18" />
            </svg>
        </div>

        <div class="icon d-flex justify-content-center align-items-center ic">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"
                    d="m21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0a8.5 8.5 0 0 1 17 0Z" />
            </svg>

        </div>
        <div class="icon d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.1em" viewBox="0 0 32 32">
                <path d="M0 0h32v32H0z" fill="none" />
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 9v20h22V9Zm5 0s0-6 6-6s6 6 6 6" />
            </svg>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end bg-menu text-white" [class.bg-white.text-black]="isScrolled" tabindex="-1"
    id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header justify-content-end">
        <div class="icon d-flex justify-content-center align-items-center bg-black" role="button" data-bs-dismiss="offcanvas">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg>
        </div>
        
    </div>
    <div class="offcanvas-body px-0">
        <div class="container py-4">
            <div class="container d-flex justify-content-between">
                <p class="text-blwck bold mb-0">SHOP NOW</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                </svg>
            </div>
        </div>
        <div class=" container py-4">
            <div class="container">
                <p class="mb-0">DIRTY FROG. X JUMP</p>
            </div>
        </div>
        <div class=" container py-4">
            <div class="container">
                <p class="mb-0">HOODIES</p>
            </div>
        </div>
        <div class="fixed-bottom   ">
            <div class=" container py-4">
                <div class="container">
                    <p class=" mb-0">SOCIAL</p>
                </div>
            </div>
            <div class="container py-4">
                <div class="container" routerLink="/login" data-bs-dismiss="offcanvas">
                    <p class="text-b mb-0">ACCOUNT</p>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="d-flex justify-content-between container py-3 bg text-white ">

    <div class="img-container d-flex justify-content-center align-items-center ">
        <img src="https://i.postimg.cc/ZR2RR84L/1000085015-removebg-preview.png" alt="" class="logo">
    </div>
    <div class="d-flex">
        <div class="icon d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 15h18M3 9h18" />
            </svg>
        </div>

        <div class="icon d-flex justify-content-center align-items-center ic">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"
                    d="m21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0a8.5 8.5 0 0 1 17 0Z" />
            </svg>

        </div>
        <div class="icon d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.1em" viewBox="0 0 32 32">
                <path d="M0 0h32v32H0z" fill="none" />
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 9v20h22V9Zm5 0s0-6 6-6s6 6 6 6" />
            </svg>
        </div>
    </div>
</div>




<!---
<div class="bg-black fixed-top text-white container d-flex align-items-center justify-content-between py-3">
    <a class="btn p-0 text-white" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
        aria-controls="offcanvasExample">

        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-list"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg>
    </a>
    <div class="container-img d-flex align-items-center alo">
        <img src="https://i.postimg.cc/7LB83G0M/1000085015-removebg-preview.png" alt="jwtb" class="logo">
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-basket3"
        viewBox="0 0 16 16">
        <path
            d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6z" />
    </svg>

</div>
<div class="bg-black text-white container d-flex align-items-center justify-content-between py-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
    </svg>
    <div class="container-img d-flex align-items-center alo">
        <img src="https://i.postimg.cc/7LB83G0M/1000085015-removebg-preview.png" alt="jwtb" class="logo">
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-basket3"
        viewBox="0 0 16 16">
        <path
            d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6z" />
    </svg>

</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header my-3">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-bod border-top">
        <div class="border-bottom container py-4">
            <div class="container">
                <p class="text-blwck bold mb-0">SHOP</p>
            </div>
        </div>
        <div class="border-bottom container py-4">
            <div class="container">
                <p class="text-black mb-0">DIRTY FROG. X JUMP</p>
            </div>
        </div>
        <div class="border-bottom container py-4">
            <div class="container">
                <p class="text-black mb-0">ACCESSORIES</p>
            </div>
        </div>
        <div class="fixed-bottom  border-top ">
            <div class="border-bottom container py-4">
                <div class="container">
                    <p class="text-black mb-0">MEMBERS ONLY</p>
                </div>
            </div>
            <div class="container py-4">
                <div class="container">
                    <p class="text-b mb-0">LOG IN</p>
                </div>
            </div>
        </div>
    </div>
</div>

-->