.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.br {
    border-radius: 25px 0px 0px 25px !important;
    border-right: none !important;
}

.border-none {
    border-left: none !important;
    /* border-right: none !important; */


}

.bg {
    background-color: blueviolet;
}

.br-filter {
    border-radius: 0px 25px 25px 0px !important;
    /* border-left: none !important; */

}

.logo {
    width: 100px;
}

.bold {
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-wrap: nowrap;
    /* Prevent wrapping */
    overflow-x: scroll;
    /* Scroll if buttons overflow */
    width: 100%;
    gap: 0.5rem;
    /* Optional: spacing between buttons */
}

.text {
    white-space: nowrap;
    /* Prevent text from wrapping */
    flex: 0 0 auto;
    /* Button takes only as much space as it needs */
    text-align: center;
}

.button-container::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.bg-s{
    background-color: gainsboro;
}

.offcanvas{
    background-color: rgb(0, 0,0, 0.3);
    backdrop-filter: blur(3px);
    /* z-index: 1; */
}
.h-90{
    height: 80%;
    position: relative;
    top: 90px;
}
.bg-white{
    background-color: white;
}
.close{
    width: 40px;
    height: 40px;
}
