<div class="fixed-top z">
    <div class="container bg-black text-white py-4">
        <div class="d-flex  justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg" width="35"
                    height="35" data-bs-toggle="offcanvas"
                    
                    data-bs-target="#offcanvasScrolling"
                    aria-controls="offcanvasScrolling"
                    fill="currentColor" class="bi me-2 w-10  bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                </svg>
                <h3 class="text mb-0 roboto-slab ">MC STORES</h3>
            </div>

            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="me-3"
                    width="2em"
                    height="2em"
                    viewBox="0 0 24 24"><path fill="currentColor"
                        fill-rule="evenodd"
                        d="M14.385 15.446a6.75 6.75 0 1 1 1.06-1.06l5.156 5.155a.75.75 0 1 1-1.06 1.06zm-7.926-1.562a5.25 5.25 0 1 1 7.43-.005l-.005.005l-.005.004a5.25 5.25 0 0 1-7.42-.004"
                        clip-rule="evenodd" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="25.5"
                    height="25.5"
                    fill="currentColor" class="bi bi-bag"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                </svg>

            </div>
        </div>
    </div>

</div>
