.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.br {
    border-radius: 25px 0px 0px 25px !important;
    border-right: none !important;
}
.bor-l{
    border-left: 3px solid black;
}
.sub-image{
    width: 40px;
}
.border-none {
    border-left: none !important;
    /* border-right: none !important; */


}

.bg {
    background-color: blueviolet;
}

.br-filter {
    border-radius: 0px 25px 25px 0px !important;
    /* border-left: none !important; */

}

.logo {
    width: 100px;
}

.bold {
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-wrap: nowrap;
    /* Prevent wrapping */
    overflow-x: scroll;
    /* Scroll if buttons overflow */
    width: 100%;
    gap: 0.5rem;
    /* Optional: spacing between buttons */
}

.text {
    white-space: nowrap;
    /* Prevent text from wrapping */
    flex: 0 0 auto;
    /* Button takes only as much space as it needs */
    text-align: center;
}

.text-s {
    font-size: 15px;
}

.button-container::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.width{
    width: 130px;
    
}
.bg-s {
    background-color: rgb(246, 246, 246);
}

.offcanvas {
    background-color: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    /* z-index: 1; */
}

.icon {
    /* width: 60px; */
    height: 70px;
}

.h-90 {
    height: 80%;
    position: relative;
    top: 90px;

}

.bg-white {
    background-color: white;
}

.close {
    width: 40px;
    height: 40px;
}
.scoll{
    height: 460px;
    overflow: scroll;

}
.scoll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}