<div class="fixed-top ">
    <div class="container bg-white py-3  ">
        <div class="d-flex  justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg" width="30"
                    height="30" data-bs-toggle="offcanvas"
                    data-bs-target="#staticBackdrop"
                    aria-controls="staticBackdrop"
                    fill="currentColor" class="bi me-2 w-10  bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                </svg>
                <!-- <img src="https://i.postimg.cc/vmLxtcRz/114140-usave-website-logo-2022-239x61.png" alt="" class="logo"> -->
                <h3 class="text mb-0 roboto-slab ">{{name|uppercase}}</h3>
            </div>

            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="19.5"
                    height="19.5"
                    fill="currentColor" class="bi me-3 bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="20.5"
                    height="20.5"
                    routerLink="/cart"
                    fill="currentColor" class="bi  bi-bag"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                </svg>

            </div>
        </div>
    </div>
    <div class="bg-dark text-white container button-container py-1">
        <span class="bold span">Departments</span>
        <div class="mx-4">|</div>
        <span class="text me-3">Seller</span>
        <span class="text me-3">My Items</span>
        <span class="text me-2">New Arrivals</span>

    </div>

</div>
<div class="f">
    <div class="container bg-white py-3 ">
        <div class="d-flex  justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg" width="30"
                    height="30" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling"
                    aria-controls="offcanvasScrolling"
                    fill="currentColor" class="bi me-2 w-10  bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                </svg>
                <h3 class="text mb-0 roboto-slab ">MC STORES</h3>
            </div>
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20.5"
                    height="20.5"
                    fill="currentColor" class="bi me-3 bi-bag"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </div>
        </div>
    </div>
    <div class="bg-dark text-white container button-container py-1">
        <span class="bold span">Departments</span>
        <div class="mx-4">|</div>
        <span class="text me-3">Seller</span>
        <span class="text me-3">My Items</span>
        <span class="text me-2">New Arrivals</span>

    </div>

</div>
<div class="offcanvas  offcanvas-bottom pb-0 h-100 " data-bs-backdrop="static" tabindex="-1"
    id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="h-90">
        <div class="d-flex justify-content-center w-100">
            <div
                class="bg-white rounded-circle close d-flex justify-content-center align-items-center mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    data-bs-dismiss="offcanvas"
                    fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                </svg>
            </div>
        </div>

        <div class="bg-white w-100 h-100">
            <div class="offcanvas-body">
                <div>
                    I will not close if you click outside of me.
                </div>
            </div>
        </div>
    </div>

</div>