.input {
    border-radius: 0px !important;
}

.dash-btn {
    width: 50px;
}

#image-input {
    display: none;
}

th{
    
    font-size:15px;
}
.td{
    height:50px;
    display: flex;
    align-items: center;

}

.bg-url {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 330px;
}

.over {

    overflow-x: auto;
}

.upload {
    height: 330px;
    width: 330px;

}

.bg-small {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.bg-b {
    background-color: rgba(0, 0, 0, 0.5);
}

.font-category {
    font-size: 14px;
}