section {
    display: grid;
    grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(--page-margin);

    &>* {
        grid-column: center;
    }
}

.br {
    border-radius: 15px;
}

.span {
    font-size: 14px;
}



.img-per {
    height: 150px;
    position: relative;
    right: 17px;
    top: -50px;
}

.bold {
    font-weight: bold;
}

.card-se {
    overflow: hidden;
    height: 140px;
}

.tomato {
    width: 170px;
    position: absolute;
    right: 10px;
}


.bg-mix {
    mix-blend-mode: inherit;
}

.bg-s {
    background-color: rgb(246, 246, 246);
}
.h-10{
    height: 50px;
}
.span-2{
    font-size: 15px;
}
.line{
    text-decoration: line-through;
}
.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  /* height: 43px; */
  margin: 0 auto;
  font-size: 15px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards-wrapper {
    grid-column: center-start / -1;
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    overflow: auto;
    padding-bottom: 1rem;

    .card {
        width: 160px;
        height: 160px;
        overflow: hidden;
        border: none;

    }


    .bg-mix {
        mix-blend-mode: inherit;
    }

    .bg {
        background-color: rgb(246, 246, 246);
    }





    .img-catgory {
        width: 210px;
        position: relative;
        top: -4px;
        left: 5px;

    }
}

h6 {
    width: 80%;
}

::-webkit-scrollbar {
    width: 0px;
}

.link {
    text-decoration: underline;
    font-size: 14px;
}

.grad {
    background-image: linear-gradient(to right, red, rgb(111, 5, 5));
}