<app-navbar></app-navbar>
<div class="container w-100 mt-3">
    <div class="d-flex justify-content-between">
        <h5 class="text mb-2">EVERYDAY SHOPPING</h5>
        <span class="link text-secondary">SEE ALL</span>
    </div> 
    <section>
        <div class="cards-wrapper">

            <div class="card p-2 bg rounded">
                <h6> Barkery</h6>
                <img
                    src="https://i.postimg.cc/NMDvsthD/Bakery-removebg-preview.png"
                    alt
                    class="img-catgory bg-mix">
            </div>
            <div class="card p-2 bg rounded ">
                <h6> Butchery & Meat</h6>

                <img
                    src="https://i.postimg.cc/W1cYmD0h/Butchery-Meat-removebg-preview.png"
                    alt
                    class="img-catgory bg-mix">
            </div>
            <div class="card p-2 bg rounded ">
                <div class="card-pro"></div>
                <h6>FRUIT & VEG</h6>
                <img src="https://i.postimg.cc/X7f0d6tc/fuit-and-veg.png" alt
                    class="img-catgory bg-mix">
            </div>
            <div class="card p-2 bg rounded ">
                <h6> Chocolates & Snacks</h6>

                <img
                    src="https://i.postimg.cc/brJ5PPCk/download-10-removebg-preview.pngg"
                    alt
                    class="img-catgory bg-mix">
            </div>
            <div class="card p-2 bg rounded ">
                <h6> Beverages</h6>

                <img
                    src="https://i.postimg.cc/HxR734y5/drinks.png"
                    alt
                    class="img-catgory bg-mix">
            </div>
        </div>
    </section>

    <div class="bg-dark container mb-3  p-4 card-se ">
        <div class="d-flex">
            <div class="col-8">
                <h5 class="text-white">BUY ANY 2 <br> SAVE 10%</h5>

                <span class="text-white span bold">SHOP FAST FOOD MEAL</span>
            </div>
            <div class="col">
                <div class="img-con">
                    <img
                        src="https://i.postimg.cc/gjJMH1Mk/Essen-Recipes-removebg-preview.png"
                        alt
                        class="img-per mt-3">

                </div>
            </div>

        </div>

    </div>

    <div class="d-flex justify-content-between">
        <h5 class="text mb-3">WINTER DEALS</h5>
        <span class="link text-secondary">SEE ALL</span>
    </div>
    <div class="row">
        <div class="col-6 mb-3">
            <div class="bg-s p-3 ">
                <img
                    src="https://i.postimg.cc/B6mbDmQ4/HETER-PRODUCTS-removebg-preview.png"
                    alt class="w-100 bg-mix">

            </div>
            <p class="block-ellipsis bold my-2 mx-0">CADAC 3 PANEL 4100W GAS
                HEATER WITH A PIEZO IGINITION</p>
            <div class="d-flex">
                <span class="text-black me-3 span-2">R 1,299.00</span>
                <span class="  me-3 span-2 text-danger line">R 299.99</span>

            </div>
        </div>
        <div class="col-6">
            <div class="bg-s p-3">
                <img
                    src="https://i.postimg.cc/76t7DHz3/header-20-removebg-preview.png"
                    alt class="w-100 bg-mix">
            </div>
            <p class="block-ellipsis bold my-2 mx-0">GOLDEIT WHITE FAN HEATER
                Heater GFH-2000A</p>
            <div class="d-flex">
                <span class="text-black me-3 span-2">R 269.99</span>
                <span class="  me-3 span-2 text-danger line">R 299.99</span>

            </div>
        </div>

    </div>
    <div class="grad container  p-3">
        <div class="d-flex">
            <div class="col-8">
                <span class="text-white span"> Hurry Up! Get 20% Off</span>
                <h5 class="text-white">Fresh food everyday fro focofresh</h5>
                <button type="button" class="btn bg-white br py-1 mt-2">
                    <span class="span px-3 ">SHOP NOW</span>

                </button>
            </div>
            <div class="col">
                <div class="img-con bg-dark">
                    <img src="https://i.postimg.cc/ZqS4sqPs/Tomato.png" alt
                        class="tomato mt-3">

                </div>
            </div>

        </div>

    </div>
</div>
