.span {
  font-size: 14px;
  color: rgb(160, 160, 160);
}
.icon {
  width: 45px;
  height: 45px;
}

.mozilla-headline {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.bor {
  border-radius: 30px;
  border: rgb(160, 160, 160) 1px solid !important;
}
.bor-none {
  border: none;
}
.i-icon {
  width: 35px;
  height: 35px;
}
.bo{
    border-radius: 0px 0px 20px 20px;
}