.bg-mix {
    mix-blend-mode: inherit;
}

.bg {
    background-color: rgb(246, 246, 246);
}

.card-pro {
    width: 130px;
    height: 130px;
    overflow: hidden;

}



.img-catgory {
    width: 150px;
    position: relative;
    top: 3px;
    left: 5px;
}