.span {
  font-size: 14px;
  color: rgb(160, 160, 160);
}
.icon {
  width: 45px;
  height: 45px;
}

.mozilla-headline {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.bor {
  border-radius: 30px;
  border: rgb(160, 160, 160) 1px solid !important;
}
.bor-none {
  border: none;
}
.i-icon {
  width: 35px;
  height: 35px;
}
.bo {
  border-radius: 0px 0px 20px 20px;
}
input::placeholder {
  color: gainsboro;
}
.bg-s {
  background-color: rgb(238, 238, 238);
}
.border-none {
  border: none !important;
}
.bold {
  font-weight: bold;
}
.img {
  height: 190px;
  position: absolute;
  right: -12px;
  top: -14px;
}
.over {
  overflow: hidden;
}
.food {
  width: 35px;
}
.bolder {
  font-weight: 400;
  font-size: 14px;
}
