.bg-img {
    background-image: url("https://i.postimg.cc/3RJXSjJx/download-11.jpg");
    height: 190px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    margin: 0;
    font-family: sans-serif;
    color: white;
}

.span {
    font-size: 13px;
}

.link {
    text-decoration: underline;
    font-size: 14px;
}

.line {
    text-decoration: line-through;
}

.bg {
    background-color: rgba(0, 0, 0, 0.5);


}

.grid {

    display: grid;
    grid-template-columns: auto  auto;
    gap: 10px;
    height: 200px;
}


.br {
    border-radius: 15px;
}

.over {
    overflow: scroll;
}

.bg-s {
    background-color: rgb(241, 241, 241);
}

.over::-webkit-scrollbar {
    width: 0px;
}

.category {
    width: 150px;
}
.special{
    height: 150px;
}
/* 




section {
    display: grid;
    grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(--page-margin);

    &>* {
        grid-column: center;
    }
}



.cards-wrapper::-webkit-scrollbar {
    width: 0px;
}

.cards-wrapper {
    grid-column: center-start / -1;
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    overflow: auto;
    padding-bottom: 1rem;

    .card {
        width: 140px;
        height: 140px;
        overflow: hidden;
        border: none;

    }


    .bg-mix {
        mix-blend-mode: inherit;
    }







    .img-catgory {
        width: 150px;
        position: relative;
        top: 5px;
        left: -0px;

    }
}

.img-per {
    height: 150px;
    position: relative;
    right: 17px;
    top: -50px;
}

.bold {
    font-weight: bold;
}

.card-se {
    overflow: hidden;
    height: 130px;
}

.tomato {
    width: 170px;
    position: absolute;
    right: 10px;
}


.bg-mix {
    mix-blend-mode: inherit;
}

.bg-s {
    background-color: rgb(246, 246, 246);
}
.h-10{
    height: 50px;
}
.span-2{
    font-size: 15px;
}

.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;

  margin: 0 auto;
  font-size: 15px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


span.carousel-control-next-icon {
    width: 30px;
    height: 30px;
}
span.carousel-control-prev-icon{
    width: 28px;
    height: 28px;
}
.carousel{
    height: 430px;
    overflow: hidden;
}

h6 {
    width: 80%;
}





.grad {
    background-image: linear-gradient(to right, red, rgb(111, 5, 5));
} */