section {
    display: grid;
    grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(--page-margin);

    &>* {
        grid-column: center;
    }
}

.cards-wrapper {
    grid-column: center-start / -1;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow: auto;
    padding-bottom: 1rem;
    padding-right: var(--page-margin);

    .card {
        width: 140px;
        height: 140px;
        overflow: hidden;
        border: none;

    }


    .bg-mix {
        mix-blend-mode: inherit;
    }

    .bg {
        background-color: rgb(246, 246, 246);
    }





    .img-catgory {
        width: 180px;
        position: relative;
        top: -4px;
        left: 5px;

    }
}

::-webkit-scrollbar {
    width: 0px;
}