<div class="vh-100 d-flex fixed-top pb-5 align-items-center justify-content-center">
<div class="fixed-top">
    <img src="https://i.postimg.cc/NMyBhmTD/Black-and-White-Minimalist-Square-Creative-Studio-Logo-2.jpg" alt class="logo">
</div>
    <div class="container  w-100">
        <div class="card">

            <div class="card-body py-4">
                <h3 class="text-center">CREATE A NEW ACCOUNT</h3>
                <p class="text-secondary span mb-4 text-center ">MANAGE YOUR BUSINESS WITH EASE</p>
                <div class="contain  w-100">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputName" placeholder="name example">
                        <label for="floatingInputName">Full Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="py-3">
                        <button type="button" class="btn w-100 py-2 btn-dark">SIGN UP</button>
                    </div>
                    <p class="text-secondary span text-center">Already have an account? <span class="bold"> <b>Log In</b></span></p>
                </div>
            </div>
        </div>
    </div>

</div>