<div class="pt-4 fixed-top">


    <div class="toast border-danger align-items-center" [class.show]="errShow" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <p class="span mb-0 text-danger" >The provided credentials are invalid, check for spelling mistakes in your password or  email address </p>
            </div>
            <button type="button" class="btn-close text-danger me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

</div>

<div class="container pt-5">
    <p class="text bold">LOGIN</p>
    <p class="text bold">REGISTERED MEMBER</p>
    <p class="text">PLEASE PROVIDE THE EMAIL ADDRESS AND PASSWORD ASSOCIATED WITH THE ACCOUNT. IF YOU'RE HAVING TROUBLE,
        PLEASE USE THE PROMPT BELOW TO RESET YOUR PASSWORD. <br>
        FIELDS LABELED WITH AN ASTERISK (*) ARE REQUIRED. </p>

    <div class="form-floating mb-3">
        <input type="email" [(ngModel)]="user.email" class="form-control"
            [class]="{'form-control': !user.email || user.email, 'is-invalid': errEmail , 'bor-danger': errEmail}"
            id="floatingInput" (ngModelChange)="isChangeOn()" placeholder="name@example.com">
        <label class="text" [class.text-danger]="errEmail" for="floatingInput">EMAIL ADDRESS*</label>
    </div>
    <p class="span text-danger" *ngIf="errEmail">This looks wrong. Check your email address.</p>
    <div class="form-floating mb-3">
        <input type="password" (ngModelChange)="isChangePass()" [(ngModel)]="user.pass"
            [class]="{'form-control': !errPass || errPass, 'is-invalid': errPass , 'bor-danger': errPass}"
            class="form-control" id="floatingPassword" placeholder="Password">
        <label class="text" [class.text-danger]="errPass" for="floatingPassword mx-0 text px-0">PASSWORD*</label>
    </div>
    <p class="span text-danger" *ngIf="errPass">Enter your password</p>
    <button type="button" (click)="submit()"
        class="btn bold text border mb-2 border-black br py-2 btn-primary w-100">SIGN IN</button>
    <button type="button" class="btn bold text br border w-100 text-secondary py-2">CREATE ACCOUNT</button>
</div>

<app-loading *ngIf="loading"></app-loading>