<div class="container h-100 ">
    <div class="contain h-50 p-2">
        <div class="d-flex">
            <h1
                class="text bg-dark d-flex align-items-center justify-content-center text-white rounded mb-5 merriweather  bold"
                routerLink="/home">{{name|uppercase}}</h1>
        </div>

        <h4 class="text-black roboto-slab bold ">Welcome back..</h4>

        <p class="text-secondary roboto-slab  mb-4">We happy to see you here
            again.
            Enter your
            email address and password</p>

        <div class="contain form">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control"
                    id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button type="button"
                class="btn btn-secondary w-100 p-3 br my-3 roboto-slab bold">Log
                In</button>
            <p class="text-center bold roboto-slab">Forgot password?</p>
            <div class="d-flex align-items-center">
                <hr class="w-100">
                <p class="text-secondary mb-0 mx-3">OR</p>
                <hr class="w-100">

            </div>
            <button type="button"
                class="btn btn-dark w-100 p-3 br my-3 roboto-slab bold">Create an Account</button>

        </div>
    </div>

</div>