.logo {
    width: 75px;
}

.container-img {
    height: 40px;
    overflow: hidden;
}

.roboto-slab {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.text-head {
    font-size: 35px;
}

.arrow {
    width: 45px;
    height: 45px;
}

.text-font {
    font-size: 13px;
}

.ro-b {
    width: 110% ! important;
    transform: rotate(8deg);
    position: absolute;
    left: -5px;

}

.up {
    width: 110%;
    transform: rotate(7deg);
    position: relative;
    left: -5px;
}

.down {
    width: 110%;
    transform: rotate(-7deg);
    position: relative;
    left: -5px;
}

.h-0 {
    height: 110px !important;
}

.over {
    overflow: hidden !important;
    height: 360px;

}
