<div class="container py-3">
    <img src="https://i.postimg.cc/GpFfTCcV/Black-and-White-Corporate-MB-Initial-Logo-(1).jpg" alt class="logo rounded">
</div>

<div class="container">
    <div class="row">

        <div class="col-6 c">
            <div class="bg-dark rounded cone text-white w-100 p-3">

                <div class="h-50">
                    <p class="sap">CATEGORY</p>
                </div>
                <div class="h-50 d-flex justify-content-between align-items-end">
                    <h1 class="bold mb-0">2</h1>
                    <svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor"
                        class="bi mb-1 bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                    </svg>
                </div>

            </div>
        </div>
        <div class="col-6"></div>
    </div>
</div>