.span{
    font-size: 14px;
}
.br{
    border-radius: 0px 5px 5px 0px !important;
}
.icon-data{
    width: 40px;
    height: 40px;
}
.bg-s{
    background: linear-gradient(to right, #006400 20%, #90ee90 );
}
.bg-s-main{
    background-color: #90ee90;
}
.num{
    font-size: 40px;
}
.text-success{
    color: #006400 !important;
}
.icon-re{
    position: relative;
    transform: rotate(70deg);
    z-index:-1;
}
.h-0{
    height: 0px;
    width: 10px;
}
.z{
    z-index: 1;
}