.logo {
    width: 50px;
    height: 50px;

}

.br {
    border-radius: 0px 0px 20px 20px;
}

.tex {


    font-family: 'Syne Mono', monospace;

    line-height: 1.6;
    color: #111111;
}
.bold{
    font-weight:bold;
}
.h-40{
    height:40%;
}
.span{
    font-size:15px;
}
input, .input{
    width:70px;
    height:70px;
    border-radius: 15px;
}
.bg-s{
    background: #D3D3D3 !important;
    color: #D3D3D3;
}