<div class="vh-100 d-flex fixed-top pb-5 align-items-center justify-content-center">
    <div class="fixed-top py-3 container d-flex">
    
    </div>
    <div class="container  w-100">
        <div class="card">

            <div class="card-body py-4">
                <h3 class="text-center">CREATE A NEW ACCOUNT</h3>
                <p class="text-secondary span mb-4 text-center ">MANAGE YOUR BUSINESS WITH EASE</p>
                <div class="contain  w-100">

                    
                    <div class="form-floating mb-3">
                        <input type="email" [(ngModel)]="user.email" class="form-control"
                            [class]="{'form-control': !user.email || user.email, 'is-invalid':errEmail, 'bor-danger': errEmail}"
                            id="floatingInput" placeholder="name@example.com">
                        <label class="text" [class.text-danger]="errEmail" for="floatingInput">EMAIL
                            ADDRESS*</label>
                    </div>
                    <p class="span text-danger" *ngIf="errEmail">This looks wrong. Check your email address.</p>

                    <div class="form-floating mb-3">
                        <input type="password" [(ngModel)]="user.password"
                            [class]="{'form-control': !errPass || errPass, 'is-invalid': errPass , 'bor-danger': errPass}"
                            class="form-control" id="floatingPassword" placeholder="Password">
                        <label class="text" [class.text-danger]="errPass"
                            for="floatingPassword mx-0 text px-0">PASSWORD*</label>
                    </div>

                    <p class="span text-danger" *ngIf="errPass">Enter your password</p>

                    <div class="py-3">
                        <button type="button" class="btn w-100 py-2 btn-dark" (click)="submit()">SIGN UP</button>
                    </div>
                    <p class="text-secondary span text-center">Already have an account? <span class="bold"> <b>Log
                                In</b></span></p>
                </div>
            </div>
        </div>
    </div>

</div>