.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.w-90 {
    width: 90% !important;
}

.span {
    font-size: 14px;
}

.icon {
    height: 15px;
    width: 15px;
}

.text {
    font-family: 'Syne Mono', monospace !important;
    font-size: 14px !important;
    color: #111111;
}